* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-color: #ff7979;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
}

.container {
  padding: 8.8rem 2.4rem;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.291667px;
  color: #ffffff;
}
.descr {
  margin-top: 1.6rem;
  margin-bottom: 6.4rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.freetrial {
  background: #5e54a4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  font-weight: 200;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #ffffff;
  padding: 0.8rem 4.7rem;
}

.inputdiv {
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: 2.4rem;
  margin-top: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.firstnamediv {
  width: 100%;
  position: relative;
}

.icon,
.icon1,
.icon2,
.icon3 {
  display: none;
  position: absolute;
  right: 1.8rem;
  top: 1rem;
}
input {
  width: 90%;
  padding: 1.5rem;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  border: 1px solid red;
}
.errortxt,
.errorname,
.errorlastname,
.errormail,
.errorpass {
  display: none;
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #ff7979;
}

.visibility {
  display: block;
}
.button {
  margin-top: 1.6rem;
  background: #38cc8b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  width: 100%;
  height: 4.5rem;
  color: #ffffff;
}
.button:hover {
  background: #77e2b3;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  cursor: pointer;
}
::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3d3b48;
  font-family: "Poppins";
  font-style: normal;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.terms {
  margin-top: 0.8rem;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #bab7d4;
}

.services {
  color: rgba(255, 121, 121, 1);
}

@media screen and (min-width: 400px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    max-width: 100rem;
  }
  .subcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
